* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
body {
  background-color: black;
  overflow-x: hidden;
}
header {
  display: flex;
  align-items: center;
  width: 80%;
  max-width: 1485px;
  height: 96px;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
}
header ul {
    list-style: none;
    display: flex;
    gap: 20px;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 96px;
    padding: 0 20px;
    max-width: 1485px;
    margin: 0 auto;
}
nav img {
    width: 120px;
    height: 120px;
}
nav img {
    width: 120px;
    height: 120px;
}
nav a{
    text-decoration: none;
    color: #4B5563;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    padding: 36px 16px;
}
nav a:hover {
    color: #7C3AED;
    font-weight: 800;
    transition: 300ms;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
section {
    width: 80%;
    max-width: 1485px;
    margin: 0 auto;
}
#Inicio {
    height: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    background: linear-gradient(to bottom, #FFFFFF 70%, #F3E8FF);
    padding-top: 96px;
}
#Inicio button {
    width: 200px;
    height: 50px;
    background-color: #7C3AED;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 16px;
}
.Descricao {
    display: flex;
    width: 500px;
    flex-direction: column;
    gap: 20px;
    margin-right: 50px;
}
.Descricao h1 {
    font-size: 2rem;
    font-weight: 700;
    color: #1a1a1a;
    text-transform: uppercase;
}
.Descricao p {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
    color: #4B5563;
}
.redes-sociais a {
    display: inline;
    margin-right: 10px;
}
.redes-sociais img {
    width: 32px;
    height: 32px;
}
figure{
    width: 500px;
    height: auto;
}
#Habilidades {
    height: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    background: linear-gradient(to top, #FFFFFF , #F3E8FF);
    padding: 40px 0;
}
#Habilidades h2 {
    width: 792px;
    height: 77;
    font-size: 64px;
    margin-bottom: 40px;
    text-align: center;
}
.catalogo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
    margin-top: 20px;
}
.card {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
    padding: 20px;
    border-radius: 10px;
    height: 250px;
    color: #1F2937;
    background-color: white;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card:hover{
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}
.categoria {
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    color: #B48EF0B2; 
}
.catalogo img {
    width: 45px;
    height: 36px;
    margin-bottom: 20px;
}
.catalogo p {
    height: 38px;
    font-size: 16px;
    font-weight: 300;
    line-height: 100%;
    color: #6B7280;
    margin-top: 10px;
}